* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #444;
  /* position: absolute; */
}

.container {
  width: 1200px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
  position: relative;
}

.main-header {
  background-color: #f7f7f7;
  /* padding-top: 20px;
  padding-left: 40px; */
  padding: 20px 40px;
  /* height: 50px; */
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h1::first-letter {
  font-size: 30px;
  font-style: normal;
  margin-right: 5px;
}

nav {
  font-size: 20px;
}

nav a:link {
  /* background-color: red;
  display: block;
  padding: 20px; */
  margin: 0 30px 0 0;
  display: inline-block;
}

nav a:link:last-child {
  margin-right: 0;
}

.clearfix::after {
  clear: both;
  content: '';
  display: block;

}

.clear {
  clear: both;
}


h2 {
  font-size: 40px;
  margin-bottom: 30px;
  position: relative;
}

h2::after {
  content: "TOP";
  background-color: #ffe70e;
  color: #444;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -15px;
  right: -25px;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
  margin-left: 15px;
}

/* Adjacent sibiling selector */
h3+p::first-line {
  /* color: red; */
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.post-image {
  width: 100%;
  height: auto;
}

.post-header {
  margin-bottom: 40px;
}

article {}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  /* padding-top: 50px;
  padding-bottom: 50px; */
  padding: 50px 40px;
  /* width: 500px; */
}

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
  text-align: center;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
  margin-left: 0;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
  margin-bottom: 0;
}

/* Styling links */

a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad
}

a:hover {
  color: orangered;
  font-size: bold;
  text-decoration: underline wavy orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}

.like-button {
  font-size: 22px;
  cursor: pointer;
  padding: 22px;

  position: absolute;
  /* left: 0;
  top: 0; */
  right: 50px;
  bottom: 0;
}

/* FLOATS */

/* .author-image {
  float: left;
  margin-bottom: 10px;
}

.author {
  float: left;
  margin-top: 10px;
  margin-left: 20px;
}

h1 {
  float: left;
}

nav {
  float: right;
  font-size: 17px;
}

article {
  width: 825px;
  float: left;
}

aside {
  width: 300px;
  float: right;
}

footer {
  clear: both;
} */


/* FLEX BOX */

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author-box {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin-bottom: 15px;
}

.author {
  margin-bottom: 0;
  margin-left: 15px;
}

.related-post {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.related-link:link {
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  display: block;
  margin-bottom: 10px;
}

.related-author {
  margin-left: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
}

/* Flexbox layout */
/* .row {
  display: flex;
  gap: 75px;
  margin-bottom: 60px;
}

article {
  flex: 1;
  margin-bottom: 0;
}

aside {
  flex: 0 0 300px;
  align-self: flex-start;
} */

/* Grid Layout */

.container {
  display: grid;
  grid-template-columns: 1fr 300px;
  column-gap: 75px;
  row-gap: 60px;
}

.main-header {
  align-self: start;
  grid-column: 1/3;
}

article {}

aside {
  align-self: start;
}

footer {
  grid-column: 1/3;
}